
body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    background: black;
    color: red;
}
h2 {
    color: blue;
    opacity: 0.25;
}
.button {
    background-color:green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

header {
    background-color: orange;
    height: 50px;
}

#left {
    background-color: green;
    float: left;
    height: 400px;
    width: 33.3%;
}

#middle {
    background-color: blueviolet;
    float: left;
    height: 400px;
    width: 33.3%;
}

#right {
    background-color: cornflowerblue;
    float: left;
    height: 400px;
    width: 33.4%;
}

.boxparent {
    background-color: blue;
    height: 400px;
}

.box1 {
    background-color: aqua;
    top: 5%;
    bottom: 1%;
    position: relative;
}

.box2 {
    background-color: royalblue;
    top: 5%;
    position: absolute;
}

